{% extends 'base.html.twig' %}

{% block title %}New Product{% endblock %}

{% block body %}
    <div class="container">
        <h2 class="text-center mt-5 mb-3">Create Product</h2>
        <div class="card">
            <div class="card-header">
                <a class="btn btn-outline-info float-right" href="{{ path('app_product_administration_index') }}">
                    View All
                </a>
            </div>
            <div class="card-body">
                {{ include('product_administration/_form.html.twig') }}
            </div>
        </div>
    </div>
{% endblock %}
